@import 'variables';

%flex-elem {
  flex: 1;
}

%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

%highlight {
  background-color: $builder-indicator;
  cursor: pointer;
  border-radius: 1rem 0 0 1rem;
  user-select: none;
}

%overflow-elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
