.tabView{
	margin-top:50px;
	.TabItem{
		font-weight: bold;
		font-size: 16px;
		.closeBtn{
			border: 1px solid #e1e1e1; 
			margin: 0px;
			padding: 0px 4px;
			margin-left: 10px;
			color:black;
		}
	}
	.TabItem:hover{
		cursor: pointer;
	}
}
.nav{
	.nav-tabs{
		.nav-link.active{
			background-color: #efe2ab;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			border: 2px solid;
		}
	} 
}